<h1>
  {{title}}
</h1>

<app-order-view></app-order-view>

<hr />
<form [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="userName" class="col-sm-3 control-label">User Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Name" required/>
      <div *ngIf="formErrors.userName" class="alert alert-danger">
        {{ formErrors.userName }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="foodName" class="col-sm-3 control-label">Dish</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="foodName" formControlName="foodName" placeholder="Dish" required/>
      <div *ngIf="formErrors.foodName" class="alert alert-danger">
        {{ formErrors.foodName }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-default" type="submit" [disabled]="!addForm.valid">Add</button>
      <button class="btn btn-default" type="reset" (click)="revert()" [disabled]="addForm.pristine">Revert</button>
    </div>
  </div>
</form>

<!--<h4>Name change log {{nameChangeLog.length}}</h4>-->
<!--<div *ngFor="let name of nameChangeLog">{{name}}</div>-->

<!--<p>Form value: {{ addForm.value | json }}</p>-->
<!--<p>Form status: {{ addForm.status | json }}</p>-->

