<accordion [closeOthers]="openOneAtATime">
  <accordion-group *ngFor="let editOrderItem of editOrderItems" [isOpen]="editOrderItem.isEditorOpen" (click)="clickAccGrp(editOrderItem)">
    <div accordion-heading>
      <div class="row">
        <div class="col-xs-3">{{editOrderItem.orderItem.userName}}</div>
        <div class="col-xs-9">
          {{editOrderItem.orderItem.foodName}}
          <i class="pull-right float-xs-right fa"
             [ngClass]="{'fa-chevron-down': editOrderItem.isEditorOpen, 'fa-chevron-right': !editOrderItem.isEditorOpen}"></i>
        </div>
      </div>
    </div>
    <div appClickStopPropagation class="row">
      <app-order-editor [orderItem]="editOrderItem.orderItem" (update)="updateFromEditor($event)" (cancel)="cancelFromEditor($event)" (delete)="deleteFromEditor($event)"></app-order-editor>

      <div class="form-group col-xs-9 col-xs-offset-3">
        <form id="thisForm" name="thisForm" #thisForm="ngForm" *ngIf="editOrderItem.editItem">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="food name" [(ngModel)]="editOrderItem.editItem.foodName" name="foodName">
          </div>
          <div class="form-group" *ngIf="!editOrderItem.isProcessing">
            <button class="btn btn-default" [disabled]="thisForm.pristine" (click)="update(editOrderItem)"><i class="fa fa-fw fa-save"></i> Save</button>
            <button class="btn btn-default" (click)="cancelEdit(editOrderItem)"><i class="fa fa-fw fa-close"></i> Cancel</button>
            <button class="btn btn-default pull-right" (click)="delete(editOrderItem)"><i class="fa fa-fw fa-times-circle"></i> Delete</button>
            <!--<button class="btn btn-default" (click)="closeEditor(editOrderItem)"><i class="fa fa-fw fa-times-circle"></i> Close</button>-->
          </div>
          <div *ngIf="editOrderItem.isProcessing" class="text-right">
            <i class="fa fa-spinner fa-pulse fa-fw"></i> Processing...
          </div>
        </form>
      </div>
    </div>

  </accordion-group>

</accordion>
<!--

<hr />
<button type="button" (click)="test()">test stuff</button>
<pre>{{ editOrderItems | json }}</pre>
<pre>{{ editOrderItem | json }}</pre>

-->
