<accordion-group>
  <div accordion-heading>
    <div class="row">
      <div class="col-xs-2">{{orderItem.userName}}</div>
      <div class="col-xs-10">{{orderItem.foodName}}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-10 col-xs-offset-2">
      <form id="thisForm" name="thisForm" #thisForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="food name" [(ngModel)]="editOrderItem.foodName" name="foodName">
        </div>
        <div class="text-right form-group" *ngIf="!isProcessing">
          <button class="btn btn-default" [disabled]="thisForm.pristine" (click)="update()"><i class="fa fa-fw fa-save"></i> Save</button>
          <button class="btn btn-default" (click)="cancelEdit()"><i class="fa fa-fw fa-close"></i> Cancel</button>
          <button class="btn btn-default" (click)="delete()"><i class="fa fa-fw fa-times-circle"></i> Delete</button>
        </div>
        <div *ngIf="isProcessing" class="text-right">
          <i class="fa fa-spinner fa-pulse fa-fw"></i> Processing...
        </div>

        <!--https://plnkr.co/edit/nqS9YJwnWAFF02qAyihc?p=preview-->
        <!--<pre>pristine {{ thisForm.pristine | json }}</pre>-->
        <!--<pre>touched {{ thisForm.touched | json }}</pre>-->
        <!--<pre>DIRTY {{ thisForm.dirty | json }}</pre>-->
        <!--<pre>{{ thisForm.value | json }}</pre>-->
        <!--<pre>{{ thisForm.errors | json }}</pre>-->
      </form>
    </div>
  </div>

</accordion-group>


<!--<div class="row">
  <div class="form-horizontal">
    <div class="col-xs-12">
      <div class="form-group">
        <label #elem class="col-xs-2 control-label">{{orderItem.userName}}</label>
        <div class="col-xs-10">
          <input type="text" class="form-control cursor-pointer" placeholder="food name" [(ngModel)]="orderItem.foodName" readonly (click)="toggleEditor()">
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isEditorVisible">
  <div class="row" >
    <div class="col-xs-9 col-xs-offset-3">
      <div class="form-group">
        <div class="col-xs-10">
          <input type="text" class="form-control" #elem [id]="orderItem.orderItemId" placeholder="food name" [(ngModel)]="orderItem.foodName">
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-xs-9 col-xs-offset-3">

    </div>
  </div>

</div>-->



<!--

<div class="col-xs-2">
    <span [hidden]="isInEditMode">
      <a href="#" class="btn btn-default" (click)="toggleEditMode()"><i class="fa fa-fw fa-edit"></i></a>
    </span>
  <span [hidden]="!isInEditMode">
      <a href="#" class="btn btn-default" (click)="cancelMode()"><i class="fa fa-fw fa-close"></i></a>
      <a href="#" class="btn btn-default" (click)="update()"><i class="fa fa-fw fa-save"></i></a>
    </span>
</div>
<div class="col-xs-2">
    <span [hidden]="isInDeleteMode">
      <a href="#" class="btn btn-default" (click)="toggleDeleteMode()"><i class="fa fa-fw fa-close"></i></a>
    </span>
  <span [hidden]="!isInDeleteMode">
      <a href="#" class="btn btn-default" (click)="cancelMode()"><i class="fa fa-fw fa-close"></i></a>
      <a href="#" class="btn btn-default" (click)="delete()"><i class="fa fa-fw fa-check"></i></a>
    </span>
</div>-->
