<p>
  order-editor works! {{orderItem.userName}} - {{orderItem.foodName}} - {{orderItem.key}}
</p>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="foodName" class="col-sm-3 control-label">Dish</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="foodName" formControlName="foodName" placeholder="Dish" required/>
      <div *ngIf="formErrors.foodName" class="alert alert-danger">
        {{ formErrors.foodName }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-default" type="submit" [disabled]="!editForm.valid">Add</button>
      <button class="btn btn-default" type="reset" (click)="revert()" [disabled]="editForm.pristine">Revert</button>
      <button class="btn btn-default pull-right" type="button" (click)="deleteItem()"><i class="fa fa-fw fa-times-circle"></i> Delete</button>
    </div>
  </div>
</form>

<p>Form value: {{ editForm.value | json }}</p>
<p>Form status: {{ editForm.status | json }}</p>
